@import "tailwindcss";

@theme {
  --color-carbon-black-500: #222222;
  --color-bone-white-500: #e7decd;
  --color-cornflower-blue-500: #7599fa;
  --color-deep-blue-500: #374058;

  @keyframes pageScroll {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  
  --animate-scroll: pageScroll 1ms ease-in-out;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
}


